
<header class="bg-dark" style="background-color: rgba(0, 0, 0, 0.2) !important;">
  <nav class="nav-index border border-2 d-flex align-items-center w-100">
    <div class="border-end h-100 w-25 d-flex align-items-center justify-content-center me-4"><a href="/"><h4 class="mt-1">Best Of</h4></a></div>
    <a class="btn-nav btn btn-primary d-flex align-items-center justify-content-center me-4" href="/movies">Movies</a>
    <a class="btn-nav btn btn-primary d-flex align-items-center justify-content-center" href="/songs">Songs</a>
  </nav>
</header>