<th:block th:replace="../templates/frags/head :: head"></th:block>

<body class="d-flex flex-column justify-content-between">

  <th:block th:replace="../templates/frags/header :: header"></th:block>
  
  <main class="py-5 d-flex flex-column justify-content-center align-items-center">
    
    <!-- soluzione 1 -->
    <!-- <h2>[[${name}]]</h2> -->
    <!-- soluzione 2 -->
    <!-- <h2 th:text="${name}"></h2> -->

    <h1 class=" my-2">Best of by <span>[[${name}]]</span></h1>
    <img class="my-3" src="img/copertina-best-films.png" alt="test-img">
    <p class="w-75 my-2 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quo molestiae enim quisquam repellendus, assumenda mollitia? Reprehenderit nam magnam minus facere quam illum eaque explicabo eum eveniet. Quibusdam suscipit praesentium commodi officia exercitationem eveniet deserunt error incidunt culpa quasi unde nam quod earum odit, maiores aspernatur repellendus rerum itaque soluta asperiores. Eos libero cupiditate perspiciatis iusto assumenda debitis esse temporibus non veniam id velit dolore sint modi, nulla reprehenderit minima quae, facere officia facilis? Incidunt, in! At laboriosam, deserunt quaerat adipisci fugit repudiandae hic accusantium error ducimus molestiae excepturi cum alias dolorem officiis earum, quam quisquam aliquid. Eaque, asperiores aperiam?</p>

  </main>

  <th:block th:replace="../templates/frags/footer :: footer"></th:block>

</body>
</html>