<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<style>
	body{
		background-color: #303030;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
	}

	h1{
		color: #4548FF;

	}

</style>
</head>
<body>

  <h1>Home</h1>

  <!-- soluzione 1 -->
  <h2>[[${titleHomePage}]]</h2>
  <!-- soluzione 2 -->
	<!-- <h2 th:text="${titleHomePage}"></h2> -->
  
  <a href="/movies">Movies</a>
  <br>
	<a href="/songs">Songs</a>
  <br>
  <a href="/step1">Credits</a>

</body>
</html>