<th:block th:replace="../templates/frags/head :: head"></th:block>

<body class="d-flex flex-column justify-content-between">
	
	<th:block th:replace="../templates/frags/header :: header"></th:block>
	
	<main class="py-5 d-flex flex-column justify-content-center align-items-center">

		<h1>Movies</h1>

		<h2>Best movies of the year: </h2>

		<!-- soluzione 1 -->
		<!-- <p>[[${movies}]]</p> -->
		<!-- soluzione 2 -->
		<!-- <p th:text="${movies}"></p> -->

		<ul>
  		<!--  * SOLUZIONE 1 OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. movie 1 = http://localhost:8080/movies/1 -->
			<!-- <li th:each="movie, index : ${moviesList}">
				<a th:href="@{/movies/{id}(id=${index.index + 1})}" th:text="${movie.title}"></a>
			</li> -->
  		<!--  * SOLUZIONE 2 (MIGLIORE) OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. movie 1 = http://localhost:8080/movies/1 -->
			<li th:each="movie : ${moviesList}" th:object="${movie}">
				<a th:href="@{/movies/{id}(id=*{id})}">[[*{title}]]</a>
			</li>

		</ul>

		<div class="d-flex mt-4">
			<!-- soluzione 1 -->
			<a class="me-3" href="/">Home</a>
			<!-- soluzione 2 -->
			<!-- <a class="me-3" th:href="@{/}">Home</a> -->

			<a class="me-3" href="/songs">Songs</a>
			<a class="me-3" href="/step1">Credits</a>
		</div>

	</main>

	<th:block th:replace="../templates/frags/footer :: footer"></th:block>

</body>

</html>