<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- bootstrap -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Songs</title>
</head>

<body>

	<h1>Songs</h1>

	<s2>Best songs of the year: </s2>


	<!-- soluzione 1 -->
	<!-- <p>[[${songsString}]]</p> -->
	<!-- soluzione 2 -->
	<!-- <p th:text="${songsString}"></p> -->

	<!-- soluzione 3 -->
	<ul>
		<li th:each="song, index : ${songsList}">
			<a th:href="@{/songs/{id}(id=${index.index})}" th:text="${song.title}"></a>
		</li>
	</ul>

	<!-- soluzione 1 -->
	<a href="/">Home</a>
	<!-- soluzione 2 -->
	<!-- <a th:href="@{/}">Home</a> -->

	<a href="/movies">Movies</a>

</body>

</html>