<th:block th:replace="../templates/frags/head :: head"></th:block>


<!-- * SOLUZIONE 1 (STEP 1) OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. song 1 = http://localhost:8080/songs/1 -->
<!-- <body class="d-flex flex-column justify-content-between"> -->
<!-- * SOLUZIONE 2 (STEP 1) (MIGLIORE) OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. song 1 = http://localhost:8080/songs/1 -->
<body class="d-flex flex-column justify-content-between" th:object="${song}">
  <th:block th:replace="../templates/frags/header :: header"></th:block>
  <main class="py-5 d-flex flex-column justify-content-center align-items-center">

    <h1>Best songs of the year: </h1>
    
    <!-- * SOLUZIONE 1 (STEP 2) OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. song 1 = http://localhost:8080/songs/1 -->
    <!-- <h2>Song: <span>[[${songTitle}]]<span></h2> -->
    <!-- * SOLUZIONE 2 (STEP 2) (MIGLIORE) OTTENERE AL CLICK DEL PRIMO ELEMENTO L'URL CON INDICE 1 ES. song 1 = http://localhost:8080/songs/1 -->
    <h2>Song: <span>[[*{title}]]<span></h2>

    <!-- soluzione 1 -->
    <p>[[${songs}]]</p>
    <!-- soluzione 2 -->
    <!-- <p th:text="${songs}"></p> -->

    <div class="d-flex mt-4">
      <!-- soluzione 1 -->
      <a class="me-3" href="/">Home</a>
      <!-- soluzione 2 -->
      <!-- <a  class="me-3" th:href="@{/}">Home</a> -->

      <a class="me-3" href="/songs">Songs</a>
      <a class="me-3" href="/movies">Movies</a>
      <a class="me-3" href="/step1">Credits</a>
    </div>

  </main>
  <th:block th:replace="../templates/frags/footer :: footer"></th:block>
</body>

</html>