<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- bootstrap -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<!-- css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Song</title>
</head>
<body>

	<h1>Best songs of the year: </h1>

  <h2>Song: <span>[[${songTitle}]]<span></h2>

  <!-- soluzione 1 -->
  <p>[[${songs}]]</p>
  <!-- soluzione 2 -->
	<!-- <p th:text="${songs}"></p> -->

  <!-- soluzione 1 -->
	<a href="/">Home</a>
  <!-- soluzione 2 -->
  <!-- <a th:href="@{/}">Home</a> -->
  
	<a href="/songs">Songs</a>
	<a href="/movies">Movies</a>
	<a href="/step1">Credits</a>

</body>
</html>